body {
    font-family: Roboto;
    font-size: 15px;
    text-align: justify;
}



.lien-menu {
    font-size: 22px;
    font-weight: bold;
}

.lien-menu:hover {
    text-decoration: none;
}

.lien-footer {
    font-size: 14px;
}


.btn-primary {
    font-size: 26px !important;
}

.btn-secondary {
    font-size: 26px !important;
}

.btn-tertiary {
    font-size: 26px !important;
}

.btn {
    font-weight: bold;
}



.presentation p {
    font-size: 30px;
}

.connexion {
    text-align: right;
    vertical-align: middle;
}

.connexion span {
    font-size: 22px
}

.title_annonce {
    font-size: 26px;
    font-weight: bold;
}

.description {
    text-align: justify;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.postuler {
    text-align: left !important;
}

.oi, .sub_titre, .picto {
    font-size: 20px !important;
}
