body {
    background-color: #F3F3F3;
}

.header-bloc{
    background-color: #04a8ff;
}



.lien-menu {
    color: #ffcf41;
}

.lien-menu:hover {
    color: #ffcf41;
}

.lien-footer {
    color: #666666;
}

.lien-footer:hover {
    color: #666666;
}

.oi-grey {
    color: #666666 !important;
}


.btn {
    box-shadow: 8px 8px 12px #aaa;
}

.btn-primary {
    background-color: #ffcf41;
    border: 1px solid #ffcf41;
    color: #fff;
}

.btn-primary:hover {
    color: #ffcf41;
    border: 1px solid #ffcf41;
    background-color: #fff;
}

.btn-secondary {
    background-color: #20a464;
    border: 1px solid #20a464 !important;
    color: #ffffff;
}

.btn-secondary:hover {
    color: #20a464;
    background-color: #ffffff;
}

.btn-tertiary {
    background-color: #54718d;
    border: 1px solid #54718d;
    color: #fff;
}

.btn-tertiary:hover {
    color: #54718d;
    background-color: #ffffff;
}

#postule_linkedin {
    background-color: #2489be !important;
    border: 1px solid #2489be !important;
    color: #ffffff !important;
}

#postule_linkedin:hover {
    color: #2489be !important;
    background-color: #ffffff !important;
}

.title_annonce{
    color: #434343;
}

.input-bloc, .input-bloc:focus, .input-bloc:hover {
    border: 1px solid #aaa !important;
}

.menu-active {
    color: #ffffff !important;
}

.annonce_fiche, .main {
    background-color: #FFFFFF;
    box-shadow: 8px 8px 12px #aaa;
}

.annonce_fiche:hover {
    background-color: #FFFFFF;
    transform: translateX(-5px) translateY(-5px);
}

.oi {
    color: #ffcf41;
}

.upload {
    color: #faf2db;
    padding: 10px 0 0 0;
    margin: 0;
}

.hr::after {
    border-bottom: 0px solid #c39f33;
}

.postulerform input {
    border-bottom: 1px solid #ffcf41;
}

.ensavoirplus {
    color: #ffcf41;
    font-weight: bold;
}

.ensavoirplus:hover {
    color: #ffcf41;
    font-weight: bold;
}

.jevalide {
    text-align: center;
}

