@media (max-width: 995px) {
    .hidden-mobile {
        display: none !important
    }

    .hidden-desktop {
        display: block !important;
    }

    .btn-postuler {
        margin-bottom: 10px;
    }

    .header-bloc {
        position: relative !important;
    }

    body {
        padding-top: 0 !important;;
    }

    .header-bloc img {
        width: 100% !important;
    }

    .modal-small .modal-content {
        width: auto !important;
    }

    .btn-manager {
        margin-top: 30px;
        float: none !important;
        margin-right: 0 !important;
    }

    .menu-desktop {
        text-align: center !important;
        margin-bottom: 10px;
        padding-top: 10px !important;
    }

    .menu-desktop a {
        margin: 0 12px;
    }

    .lien-footer {
        margin: 0 3px !important;
    }

    #cookieChoiceInfo {
        font-size: 10px !important;
    }

    .title_annonce, .title {
        text-align: center !important;
    }

    .short_detail {
        text-align: left !important;
        margin-top: 0 !important;
    }

    .oi-desc {
        width: 100%;
        padding-left: 50px;
        display: block !important;
    }

    #cookieChoiceDismiss {
        float: none !important;
        margin-top: 0 !important;
        margin-right: 0 !important;
        font-size: 14px !important;
    }

    .presentation h1 {
        font-size: 40px !important;
    }

    .presentation p {
        font-size: 16px !important;
    }

    .presentation .btn-primary {
        margin: 8px 0 !important;
    }

    .postulefinal {
        margin-top: 30px !important;
    }

    .postulefinal h1 {
        font-size: 22px !important;
    }

    .postulefinal img {
        width: 200px !important;
    }
}
@media (min-width: 995px) {

    .postulefinal {
        margin-top: 140px !important;
    }
}


.oi-desc {
    display: inline;
}

.hidden-mobile {
    display: block;
}
.hidden-desktop {
    display: none;
}


body {
    padding-top: 125px;
}

.header-bloc {
    padding: 0 10px;
    top: 0 ;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 10;
}

.picto {
    width: 250px;
}

.header-bloc img {
    width: 100%;
}

.presentation {
    text-align: center;
}

.presentation h1 {
    font-size: 70px;
    margin-top: 40px;
}

.presentation p {
    margin-top: 40px;
}

.lien-menu {
    margin: 0 50px;
}

.lien-footer {
    margin: 0 30px;
    padding-bottom: 24px;
}

.modal-footer {
    justify-content: center !important;
}

.btn-manager {
    float: right;
    margin-right: 50px;
}

#postule_linkedin {
    border-radius: 40px;
}

#postule_linkedin:hover {
    border-radius: 40px;
}

.presentation .btn-primary {
    margin: 40px 0;
}

.btn {
    padding: 13px 40px !important;
    border-radius: 40px;
    width: auto !important;
}

.btn:hover {
    text-decoration: none;
}

.btn-linkedin {
    text-align: center;
    margin-top: 30px;
}



.modal-header, .modal-footer {
    border: 0 !important;
}

.modal {
    top: 324px !important;
}

.modal-mentions {
    max-width: 1000px;
}

#container {
    min-height: 730px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#search {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-left: 10px;
}

img {
    width: 100%;
}

.logo_annonce {
    text-align: center;
    font-size: 26px;
    display: flex;
    padding: 0;
}

.logo_annonce img, .logo_annonce p {
    margin: auto;
}

@media (max-width: 767px) {
    img {
        width: 50%;
    }

    .title_annonce {
        margin: 20px 0;
    }
}

.annonce_fiche {
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px;
}

.title_annonce {
    margin-bottom: 0;
    text-align: left;

}

.title {
    text-align: left;
}

.oi, .sub_titre {
    display: inline-block;
}

.oi {
    margin: 0 5px 0 20px;
}

.sub_titre {
    margin-top: -2px !important;
}

.main {
    margin-top: 30px;
    padding: 20px;
}

.img_annonce {
    text-align: center;
}

.img_annonce img {
    /* width: 30%; */
    height: 400px;
}

.upload {
    border-radius: 0 !important;

}

.short_detail {
    text-align: center;
    margin-top: 30px;
}

.short_detail p, .short_detail span {
    display: inline;
}

hr {
    width: 100%;
    margin-top: 0;
}

.hr {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.hr::after {
    content: '';
    flex: 1;
    margin: 0 .25em;
}

h2 {
    width: 100%;
}

.description {
    margin-left: 10px;
    margin-right: 10px;
}

.postuler-end {
    text-align: center;
    margin-top: 30px;
}

.postulerform input {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 0;
}

.annonce_fiche {
    cursor: pointer;
}

.socialnetwork {
    text-align: right;
}

.socialnetwork img {
    width: 30px;
    display: inline;
}

.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}

.label-file:hover {
    color: #25a5c4;
}

.it .btn-orange {
    background-color: blue;
    border-color: #777 !important;
    color: #777;
    text-align: left;
    width: 100%;
}

.it input.form-control {

    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}

.it .form-control:focus {
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.input-form {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #777;
    padding-left: 10px;
}