/* HEADER */
.header-bloc {
    text-align: left;
}


body {
    font-size: 15px;
}

.titleheader {
    font-size: 26px;
    font-weight: bold;
}

.menu-haut {
    font-weight: bold;
}

.menu-haut:hover {
    text-decoration: none;
}
/* FIN HEADER */

/* BTN */
.btn {
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}
.lien-menu {
    font-size: 22px;
    font-weight: bold;
}

.lien-menu:hover {
    text-decoration: none;
}

/* FIN BTN */

/* TITLE */
.fiche-annonce label {
    font-weight: bold;
    font-size: 20px;
}
/* FIN TITLE */

h1 {
    font-size: 20px;
}

.badge {
    font-size: 15px !important;
}

ul.tsc_pagination {
    font: 12px 'Tahoma';
}

ul.tsc_pagination li a {
    text-decoration: none;
}

.label-file {
    font-weight: bold;
}

.fileUpload input.upload {
    font-size: 20px;
}

.title-login {
    color: #999999;
    font-size: 38px;
    margin: 200px 0 100px 0;
}