@media (max-width: 995px) {
    .hidden-mobile {
        display: none !important
    }

    .header-bloc {
        position: relative !important;
    }

    body {
        padding-top: 0 !important;;
    }
}
.hidden-desktop {
    display: none;
}
.ui-helper-hidden-accessible{
    display: none;
}
/* HEADER */
.header-bloc {
    padding: 0 10px;
    top: 0 ;
    position: fixed;
    width: 100%;
    z-index: 10;
}

body {
    padding-top: 105px;
}

.titleheader {
    margin-top: 25px;
}

.menu-haut {
    float: right !important;
    margin: 0 50px;
}

.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
/* FIN HEADER */

/* BTN */
.btn {
    padding: 13px 40px !important;
    border-radius: 40px;
    width: auto !important;
}

.btn-ajout {
    margin-left: 20px;
}

.btn-upload-annonce {
    font-size: 14px !important;
    padding: 5px 5px !important;
}

.btn-secondary {
    width: auto;
    padding: 13px 40px;
    margin-top: 20px;
    border-radius: 40px;
}

.btn-secondary2 {
    font-size: 16px !important;
    border-radius: 5px !important;
    padding: 0 10px !important;
    font-weight: normal !important;
    text-align: left !important;
    width: 100% !important;
}

.lien-menu {
    margin: 0 50px;
}
/* FIN BTN */

.sidebar {
    position: fixed;
    top: 95px;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 5px 0 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

input, select, textarea {
    border-radius: 5px;
}

.filterbox {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;;
}

td {
    padding: 7px 20px !important;
}

.btntitle {
    margin-left: 20px;
}


.updImg {
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.updImg:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.title {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.updImg:hover .title {
    top: 90px;
}

.button {
    position: absolute;
    width: 260px;
    left:0;
    top: 90px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    z-index: 1;
}

.button a:hover {
    color: white;
    text-decoration: none;
}

.button2 {
    position: absolute;
    width: 260px;
    left:0;
    top: 30px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.button2 a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    z-index: 1;
}

.updImg:hover .button {
    opacity: 1;
}

.updImg:hover .button2 {
    opacity: 1;
}

.ui-menu {
    background-color: rgb(255, 255, 255);
    list-style: none;
    padding-left: 10px;
    width: 300px !important;
}



/* ICI */

.btn-accueil {
    float: right;
}

.liste_entreprise_accueil {
    margin: 10px 0;
}

input, select {
    margin-bottom: 10px;
    padding-left: 10px;
}

img {
    width: 100%;
}

input, select, textarea {
    width: 100%;
}

textarea {
    height: 208px;
    border-radius: 40px;
    padding: 20px;
}

.oi-trash {
    margin-left: 10px;
}

.filterbox {
    padding: 0;
    margin: 20px 0 20px 0;
    border-radius: 10px;;
}

.badge {
    width: 120px;
    height: 30px;
    margin-bottom: 0 !important;
    padding-top: 3px;
}

ul.tsc_pagination {
    margin: 4px 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

ul.tsc_pagination li {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

ul.tsc_pagination li:first-child {
    margin-left: 0;
}

ul.tsc_pagination li a {
    display: block;
    padding: 7px 10px 7px 10px;
}

ul.tsc_pagination li a img {
    border: none;
}

/*A */

ul.tsc_paginationA li a {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*01 */
ul.tsc_paginationA01 li a {
    padding: 6px 9px 6px 9px;
}


.label-file {
    cursor: pointer;
}

.it .btn-orange {
    width: 100%;
}

.it input.form-control {
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}

.it .form-control:focus {
    box-shadow: none;
    outline: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.bloc-principal {
    padding-left: 30px;
    padding-right: 30px;
}

.form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
