/* HEADER */
body {
    background-color: #f7f7f7;
}

.bg-dark {
    background-color: #54718d !important;
}

.titleheader {
    color: #fff;
}
/* FIN HEADER */

/* BTN */
.btn-primary {
    color: #fff;
    background-color: #ffcf41;
    border: 1px solid #ffcf41;
}

.btn-primary:hover {
    color: #ffcf41;
    border: 1px solid #ffcf41;
    background-color: #ffffff;
}

.btn-secondary {
    color: #54718d;
    background-color: #d9d9d9;
    border: 1px solid #54718d;
}

.btn-secondary2 {
    color: #474747;
    background-color: #ffffff;
    border: 1px solid #474747;
}

.btn-secondary:hover {
    color: #d9d9d9;
    border: 1px solid #54718d;
    background-color: #54718d;
}

.btn-tertiary {
    background-color: #20a464;
    border: 1px solid #20a464 !important;
    color: #ffffff;
}

.btn-tertiary:hover {
    color: #20a464;
    border: 1px solid #20a464 !important;
    background-color: #ffffff;
}

.lien-menu {
    color: #ffcf41;
}

.lien-menu:hover {
    color: #ffcf41;
}
.menu-active {
    color: #ffffff !important;
}
/* FIN BTN */

/* MENU */
.sidebar {
    background-color: #FFFFFF !important;
    border-right: 1px solid #eee;
}
/* FIN MENU */

/* TITRE PAGE */
.title-annonce {
    color: #666666;
}
.fiche-annonce label {
    color: #474747;
}
/* FIN TITRE PAGE */

input, input:active, input:focus, input:visited, input:hover,
select, select:active, select:focus,
textarea, textarea:active, textarea:focus {
    border: 1px solid #54718d !important;
}

select {
    height: 28px
}

a {
    color: #303030;
}

a:hover {
    color: #303030;
}

.nav-item a:hover {
    background-color: #f7f7f7 !important;
}

.nav-item .active {
    color: #303030 !important;
    background-color: #f7f7f7 !important;
}

input, select, textarea {
    border: 1px solid #d9d9d9;
}

.filterbox {
    background-color: #f7f7f7;
}

tr {
    background-color: #FFFFFF;
}

tr:hover {
    background-color: #F7F7F7;
}

/* ICI */
.col1 {
    border-right: 2px solid #C7A04A;
}

.oi-trash {
    color: #ff0000 !important;
}

.icon-list-select {
    color: #6DA269 !important;
}

.filterbox {
    background-color: #f7f7f7;
}

.valid_filter {
    background-color: #6DA269;
}

ul.tsc_pagination li a {
    color: black;
}

ul.tsc_paginationA li a {
    color: #FFFFFF;
}

ul.tsc_paginationA01 li a {
    color: #474747;
    border: solid 1px #B6B6B6;
    background: #E6E6E6;
    background: -moz-linear-gradient(top, #FFFFFF 1px, #F3F3F3 1px, #E6E6E6);
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #FFFFFF), color-stop(0.02, #F3F3F3), color-stop(1, #E6E6E6));
}

ul.tsc_paginationA01 li a:hover,
ul.tsc_paginationA01 li a.current {
    background: #FFFFFF;
}

.label-file {
    color: #00b1ca;
}

.label-file:hover {
    color: #25a5c4;
}

.it .btn-orange {
    background-color: blue;
    border-color: #777 !important;
    color: #777;
}

.it input.form-control {
    border-bottom: 1px solid #ddd;
}

.it .form-control:focus {
    border-color: #ff4d0d;
}

