body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
  text-align: center;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
input {
  margin: 30px 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.btn-primary {
  color: #ffffff;
  border: 1px solid #303030;
  background-color: #303030;
}
.btn-primary:hover {
  color: #303030;
  border: 1px solid #303030;
  background-color: #fff;
}
a {
  color: #303030;
}

a:hover {
  color: #303030;
}
input, select, textarea {
  border: 1px solid #303030 !important;
  border-radius: 5px;
}
